*:focus {outline:none}

/* ========== Page & Body ========== */

html {
    height: 100%;
    width: 100%;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Gayathri', sans-serif;
}

#page {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    min-height: calc(100% - 40px);
    padding: 20px 15%;
    background: url("assets/bg.jpg");
}

.page-item {
    background-color: white;
    border: 1px solid black;
    animation: 1s ease-in-out 0s 1 fadein;
}

/* ========== Header & Navbar ========== */

#header {
    text-align: center;
    font-size: 40px;
    padding: 5px 0;
    padding-top: 20px;
    margin-bottom: 15px;
}

.sticky {
    position: fixed;
    width: calc(70% - 2px);
    top: 0;
  }

.stickynav{
    position: fixed;
    top: 0px;
    transform: translateY(-16px);
    width: calc(70% - 2px);
}

.sticky + #navbar {
    margin-top: 91px;
}

.stickynav + #content{
    margin-top: 154px;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    margin-bottom: 15px;
}

.nav-option {
    float: left;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.nav-option:hover {
    color: #ac0f16 !important;
}  

.nav-option:active {
    transform: translateY(-3px);
}

/* ========== Content ========== */

#content{

}

.content-page {
    display: none;
    height: 100%;
    width: 100%;
}

/* ------ Home Page ----- */

/* ------ About ----- */

#about {
    flex-direction: column;
    align-items: center;
}

#about-img {
    margin-top: 40px;
    width: 70%;
    object-fit: cover;
    max-height: 350px;
    max-width: 350px;
}

#about-header {
    margin: 20px 0 5px 0;
    font-size: 40px;
}

#about-content {
    font-size: 20px;
    margin: 0 15% 40px 15%;
    text-align: center;
}

/* ------ Portfolio ----- */

#portfolio {
    flex-direction: row;
    padding: 0 .5%;
    width: 99%;
}

.portfolio-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    padding: .5%;
}

.portfolio-img {
    width: 100%;
    height: 20vw;
    margin-top: 5px;
}

.portfolio-text {
    text-align: center;
    margin: 15px 5%;
}

/* ------ Contact ----- */

/* ========== Footer ========== */

footer {
    position: relative;
    height: 50px;
    margin-top: 15px;
}

#copyright {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

#icons{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

i {
    border: none;
    transform: scale(2);
    margin: 0 10px;
    transition: 0.2s;
}

.socialmedia-links {
    color: 	#585858;
    text-decoration: none; 
}

.socialmedia-links:hover {
    cursor: pointer;
    color: #383838;
}

/* ========== Animations ========== */

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(5px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }